<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="logic.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" ng-controller="mainController">
    <h3>Аутентификация</h3>

    <form ng-submit="tryToAuth()">
        <input type="text" name="username" ng-model="user.username">
        <input type="password" name="password" ng-model="user.password">
        <button class="btn btn-outline-primary" type="submit">Войти</button>
    </form>
    <button class="btn btn-outline-secondary" ng-click="tryToLogout()">Выйти</button>

    <h2>Market</h2>
    <a class="btn btn-outline-warning" href="#!/">Main</a>
    <a class="btn btn-outline-warning" href="#!/products">Products</a>
    <a class="btn btn-outline-warning" href="#!/edit">Add new product</a>
    <ng-view></ng-view>
</div>

</body>
</html>