<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Users)}" />
    <h3 th:text="#{users.user.list}"></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Login</td>
        </tr>
        </thead>
        <tbody>

        <!--/*@thymesVar type="com.wigravy.market.entities.User"*/-->
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getLogin()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>